extends layout

block content
  div.container
    div.card
      div.card-header
        div.card-title Panda Express
        img.card-header-image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnYpCPunEPkZQ7HAGE7gNRSQgnqM72lJXHtw&usqp=CAU')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.category Chinese American
          div.rating
        div.description
          | ORA ORA ORA ORA ORA ORA ORA
          | ORA ORA ORA ORA ORA ORA ORA
          | ORA ORA ORA ORA ORA ORA ORA
          | ORA ORA ORA ORA ORA ORA ORA
          | ORA ORA ORA ORA ORA ORA ORA
